

body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f8;
    color: #333;
    margin: 0;
    padding: 0;
}

.user-dashboard {
    display: flex;
    flex-direction: column;
}

.search-section {
    text-align: center;
    margin-bottom: 20px;
}

.search-input {
    width: 50%;
    max-width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 17px;
    margin-right: 10px;
    border-radius: 5px;
}

.search-select {
    width: 170px;
    padding: 12px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-right: 10px;
    border-radius: 5px;
}

.search-btn {
    padding: 11px 25px 11px 25px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px; 
    margin-right: 10px;
    border-radius: 5px;
}

.search-btn:hover {
    background-color: #0056b3;
}

.name {
    display: flex;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 50px;
    margin-top: 50px;
    justify-content: center;
}

.dashboard-content {
    display: flex;
    margin: 0 auto; 
}

.genre-nav {
    flex: 1;
    background-color: #fff;
    padding-right: 150px;
}

.genre-nav h6 {
    margin-bottom: 30px;
    font-style: italic;
}

.genre-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.genre-links a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s ease;
}

.genre-links a:hover {
    color: #0056b3;
}

.book-list {
    flex: 3;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 50px; 
    justify-items: center; 
    padding: 0; 
}

.card {
    background-color: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.02);
}

.card-img-top {
    object-fit: cover;
}

.card-body {
    padding: 15px;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    margin-bottom: 10px;
    font-size: 14px;
}

.btn {
    width: 100%;
    margin-top: 10px;
}


.alert {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.alert-info {
    background-color: #e7f3fe;
    color: #31708f;
}

.alert-secondary {
    background-color: #f2f2f2;
    color: #6c757d;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-warning {
    background-color: #ffc107;
    border: none;
}

.btn-warning:hover {
    background-color: #e0a800;
}

.btn-success {
    background-color: #28a745;
    border: none;
}

.btn-success:hover {
    background-color: #218838;
}

.btn-danger {
    background-color: #dc3545;
    border: none;
}

.btn-danger:hover {
    background-color: #c82333;
}

.btn-secondary {
    background-color: #6c757d;
    border: none;
}
.notifications {
    background-color: #e4e4e4;
    border-radius: 8px; 
    padding: 20px; 
    box-shadow: 0 2px 5px rgba(0,.2 0.2, 0.2, 0.2); 
    margin: 20px 0; 
}

.notifications h3 {
    font-size: 1.5rem; 
    color: #333; 
    margin-bottom: 15px; 
}

.notification-item {
    background-color: #ffffff; 
    border-radius: 4px; 
    padding: 10px; 
    margin-bottom: 10px; 
    border-left: 5px solid gray; 
}

.notification-item p {
    margin: 0; 
    color: #555; 
}

.notification-item.read {
    background-color: #4a4a4a;
    color: #6c757d; 
}
