
.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px; 
  background-color: #f9f9f9; 
}

.header {
  text-align: center;
  color: #c7c7c7; 
  margin-bottom: 20px; 
}


.buttin-nav {
  background-color: #007bff; 
  color: white;
  border: none; 
  border-radius: 5px;
  padding: 10px 15px; 
  cursor: pointer;
  margin-bottom: 20px;
}

.buttin-nav:hover {
  background-color: #0056b3; 
}


label {
  display: block;
  margin-bottom: 5px; 
  color: #555; 
}


input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
}

.forgot-password-link {
  display: block; 
  margin-bottom: 20px; 
  color: #007bff;
  text-align: center; 
}

.forgot-password-link:hover {
  text-decoration: underline; 
}

button[type='submit'] {
  background-color: #28a745;
  color: white; 
  border: none;
  border-radius: 5px; 
  padding: 10px 15px; 
  cursor: pointer; 
  width: 100%;
}

button[type='submit']:hover {
  background-color: #218838; 
}
