
.dashboard-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 30px;
    background-color: #4a4a4a;
}

.report {
    margin-bottom: 0;
}

.logout {
    margin-bottom: 0;
}

.buttonnav {
    border-radius: 3px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

.buttonnav:hover {
    background-color: #0056b3;
}

.dashboard-container nav .active, 
.dashboard-container nav a {
    text-decoration: none; 
    color:aquamarine;
    font-weight: bolder;
    font-size: large;
}

.dashboard-container nav a:hover {
    color: #000000;
}


nav {
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}
