
.outer-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: #f8f8f8;
    border-bottom: 4px solid #ffcc00;
}

.nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%; 
    padding: 10px 20px; 
    background-color: #383838; 
    color: white; 
    border-bottom: 4px solid #ffcc00;
}


.library-name {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    font-size: 1.5em; 
    font-weight: bold;
}

.library-name a {
    color: #ffffff; 
    text-decoration: none; 
}

.library-name a:hover {
    color: #cccccc;
}


.log-reg {
    display: flex; 
    align-items: center; 
}


.log-reg select {
    padding: 10px; 
    border-radius: 3px;
    margin-right: 5px;
    
}


.log-reg button {
    padding: 8px 15px; 
    background-color: #007BFF; 
    color: white; 
    border: 2px solid white;
    cursor: pointer; 
    transition: background-color 0.3s;
    border-radius: 2px;
}


.log-reg button:hover {
    background-color: #0056b3; 
}

.serach-box {
    width: 100%;
}


.search select {
    margin-right: 5px; 
    padding: 10px;
    border-radius: 2px;
}

.search input {
    padding: 7px; 
    border: 1px solid #ccc; 
    width: 200px; 
}


.search button {
    padding: 11px;
    background-color: #28a745; 
    color: white; 
    border: none; 
    cursor: pointer;
    transition: background-color 0.3s; 
}


.search button:hover {
    background-color: #218838; 
}
